# 生产环境务必改为长随机串
SECRET_KEY=b95640381cdd2dc9cdf65f0527d26f6a7a64605a3c3626843c48c53b121b4400

# 数据与 SQLite 位置（相对 Net_Web 目录）
# DATABASE_URL=sqlite:///./data_storage/app.db

# 前端开发服务器跨域
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
